@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --backgroundColor: #f4f4f4;
    --borderColor: #5e9dcd;
    --borderRadius: 6px;
    --textColor: #1f1f1f;
    --buttonColor: #447296;
    --buttonTextColor: #f4f4f4;
    --padding: 10px;
    --buttonHoverColor: #2a4b64;
    --buttonHoverTextColor: #c8c8c8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    appearance: none;
    border: 0;
    background: var(--buttonColor);
    color: var(--buttonTextColor);
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: all 0.2s;
}

.button a{
    color:var(--buttonTextColor);
    text-decoration: none;
    font-weight:600;
    display: block;
    height: 100%;
    padding: 10px 20px;
    display: flex;
}

.button:hover {
    filter: brightness(50%);
}