<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .page {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            padding: 25px;
            animation: fadeIn forwards;
            animation-duration: 1s;
        }

        img {
            max-height: 400px;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <div class="wrapper">
        {% include 'nav.twig' %}
        <div class="page">
            <img src="{{ image }}" alt="">
            <div class="details">
                <h1>{{ title }}</h1>
                <p>{{ text|striptags|capitalize }}</p>
            </div>
            <div>
                <button class="button"><a href="./">Back</a></button>
            </div>
        </div>
    </div>
</body>

</html>