<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWIG - Test</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 25px;
            row-gap: 25px;
            justify-content: space-around;
            padding: 25px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        {# NAV #}
        {{ include('nav.twig') }}
        {# Render all the widgets from the supplied data #}
        <div class="items">
            {% for widgetData in data %}
            {{ include('widget.twig') }}
            {% endfor %}
        </div>
    </div>
</body>

</html>